nav {
    background-color: yellow;
    height: 30%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
}


nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}



nav ul li a:hover {
    background-color: #555;
}